<div class="container" style="margin: 5vh 0">

  <div class="row">
    <div class="col">
      <h1 style="text-align: center">What are you looking for?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- Search form -->
      <input style="margin: 2vh 0; font-size: 2em; text-align: center" class="form-control" type="text" placeholder="Search"
             aria-label="Search"
             (keyup)="onKeyPress()"
             #gameNameInput
      >
    </div>
  </div>

</div>

<div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-3" *ngFor="let game of allGames">
      <app-game-card  [gameElement]="game" [isLoading]="isLoading"></app-game-card>
    </div>
  </div>
</div>
