<div class="jumbotron margin-10">
  <h1 class="display-4">Admin panel</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <hr class="my-4">
  <p>Add, edit or delete games in your webshop here:</p>
  <a mdbBtn color="primary" size="lg" href="#" role="button" mdbWavesEffect>Add</a>
  <a mdbBtn color="warning" size="lg" href="#" role="button" mdbWavesEffect>Edit</a>
  <a mdbBtn color="danger" size="lg" href="#" role="button" mdbWavesEffect>Delete</a>
</div>
