<h2 class="margin-5">Admin Panel</h2>

<hr>

<button routerLink="/admin/add-game"
        class="margin-5"
        mdbBtn
        type="button"
        size="sm"
        color="success"
        mdbWavesEffect
>
  Add game
</button>

<table mdbTable
       small="true"
       hover="true"
       responsive="true"
       class="w-100 d-block d-md-table margin-2-5">

  <thead>
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let el of elements">
    <th scope="row">{{el.name}}</th>
    <td>{{el.price}}</td>
    <td>{{el.imagePath}}</td>
    <td><button routerLink="/admin/edit-game/{{el.id}}" mdbBtn type="button" size="sm" color="warning" mdbWavesEffect>Edit</button></td>
    <td><button (click)="removeGameById(el.id)" mdbBtn type="button" size="sm" color="danger" mdbWavesEffect>Delete</button></td>
  </tr>
  </tbody>
</table>

