<nav aria-label="breadcrumb" style="margin: 5vh 0 0 0;">
  <ol class="breadcrumb">
    <li (click)="goToHome()" class="breadcrumb-item"><a>Home</a></li>
    <li (click)="goToAdmin()" class="breadcrumb-item"><a>Admin panel</a></li>
    <li class="breadcrumb-item active">Add game</li>
  </ol>
</nav>
<!-- Default form contact -->
<form class="text-center border border-light p-5" action="#!" style="margin: 5vh 0;">

  <p class="h4 mb-4">Add a game to your web shop.</p>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <!-- Name -->
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Game title">
    </div>
    <div class="col-xs-12 col-md-3">
      <!-- Email -->
      <input type="number" min="0" step="any" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Price in Euros">
    </div>
  </div>

  <input type="text" id="imagePathForm" class="form-control mb-4" placeholder="Image path from the internet">

  <!-- Message -->
  <div class="form-group">
    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Description"></textarea>
  </div>

  <!-- Send button -->
  <button class="btn btn-primary btn-block" type="submit">Add game</button>

</form>
<!-- Default form contact -->
