h2 {
  padding-top: 5%;
}

.highlight-header {
  letter-spacing: 1px;
  text-align: left;
  font-weight: normal;
  color: #1B212D;
}

.font-size-normal {
  font-size: 0.8em;
}

.card {
  margin: 4% 0;
}

