form {
  margin: 5vh auto;
  width: 40%;
}

.error {
  width: 40%;
  margin: 5vh auto;
}

button a {
  color: white;
}

@media only screen and (max-width: 768px) {
  form {
    width: 100%;
  }

  .error {
    width: 100%;
  }
}
