<nav aria-label="breadcrumb" style="margin: 5vh 0 0 0;">
  <ol class="breadcrumb">
    <li (click)="goToHome()" class="breadcrumb-item"><a>Home</a></li>
    <li (click)="goToAdmin()" class="breadcrumb-item"><a>Admin panel</a></li>
    <li (click)="goToChooseGame()" class="breadcrumb-item"><a>Choose game</a></li>
    <li class="breadcrumb-item active">Remove game</li>
  </ol>
</nav>

<div class="row" *ngIf="gamesToRemove.length > 1">
  <div class="col" style="margin-top: 3vh">
    <h1 style="text-align: center"><span style="color: red;">Choose</span> a game to remove:</h1>
  </div>
</div>

<div class="row justify-content-center" *ngIf="gamesToRemove.length < 1">
  <div class="col-xs-12" style="margin-top: 20vh">
    <h1 style="text-align: center">We found <span style="color: red;">no</span> games to remove :(</h1>
  </div>
</div>


<div class="row" *ngIf="gamesToRemove.length > 1">
  <div class="col-sm-12 mb-3 mb-md-0" style="margin: 4vh 0" *ngFor="let game of gamesToRemove">
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h5>{{ game.name }}</h5>
        </mdb-card-title>
        <mdb-card-text>{{ game.description }}</mdb-card-text>
        <a href="#!" mdbBtn color="danger">Delete This Game</a>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

