<!-- BEGIN TITLE -->
<div class="row justify-content-around">
  <h2>A game store for gamers, by gamers.</h2>
</div>
<!-- END TITLE -->

<hr>

<!-- BEGIN JUMBOTRON -->
<mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient1.jpg')">
  <div class=" text-white text-center py-8 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Buying games has never been so easy</strong></h2>
      <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>Browse all games</a>
    </div>
  </div>
</mdb-card>
<!-- END JUMBOTRON -->

<hr>

<!-- FIRST ROW GAMES-->
<div class="row">
  <div class="col">
    <app-card></app-card>
  </div>
  <div class="col">
    <app-card></app-card>
  </div>
  <div class="col">
    <app-card></app-card>
  </div>
</div>
<!-- END FIRST ROW GAMES  -->

<!-- SECOND ROW GAMES-->
<div class="row" style="margin-top: 5%">
  <div class="col">
    <app-card></app-card>
  </div>
  <div class="col">
    <app-card></app-card>
  </div>
  <div class="col">
    <app-card></app-card>
  </div>
</div>
<!-- END SECOND ROW GAMES  -->
